<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weimore.caringhelper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.weimore.caringhelper.base.MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppMainTheme"
        tools:targetApi="n">

        <activity android:name=".ui.activity.AppSettingActivity" />
        <activity android:name=".ui.activity.MessageEditActivity" />
        <activity android:name=".ui.activity.MapDemoActivity"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".ui.activity.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MapSearchActivity" />
        <activity android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.ChangePasswordActivity" />

        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.weimore.caringhelper.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>


        <meta-data android:name="com.baidu.lbsapi.API_KEY"
            android:value="YlZDWczN9ZPSpLmOmY4IGRMqKyf4dzM2" />

    </application>

</manifest>